DB_NAME=majapahitdb
DB_PASSWORD=
DB_USERNAME=
DB_HOST=localhost
DB_PORT=5432

# use local for local development
ENV=local

PORT=8080

# Firebase credentials
IDENTITY_TOOLKIT_URL=https://identitytoolkit.googleapis.com/
SECURE_TOKEN_URL=https://securetoken.googleapis.com/
FIREBASE_API_KEY=AIzaSyB6OwYfr-f4ZbDDxq8rtHvLIgH6EI64FtY

# Xendit credentials
XENDIT_TOKEN=xnd_development_LOKUb3YavWScAxyP6BYinwgBimlO3TKcoMu9BdzMWGBpSd27TatVjgGn5d6BcTS

# Sonarqube credentials
SONARQUBE_HOST_URL=https://sonarqube.cs.ui.ac.id/
SONARQUBE_TOKEN=f557c1d156b38aa503a7e0678a834c0e18595c67